@model IEnumerable<Model.Entity_Framework.Subcribe>
@using PagedList.Mvc
@{
    ViewBag.Title = "Subcriber list";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Title{
    Subcriber list
}

@section Header{
    Subcriber list
}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Subcriber data table</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Subcribe", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Create date</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.CreatedDate
                                    </td>
                                    <td>
                                        @Ajax.ActionLink("Delete", "Delete", new { @id = item.Email }, new AjaxOptions { Confirm = "Are you sure to delete this subcriber?", OnComplete = "$('#row_" + @item.Email + "').remove()", HttpMethod = "Delete" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>