
@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/NEWWORLD_Layout.cshtml";
}

<html>
<head>

</head>
<body>
    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(~/Assets/Client/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">

                    <div class="row row-mt-15em">
                        <h1 class="cursive-font">Taste all our menu!</h1>
                    </div>


                </div>
            </div>
        </div>
    </header>

    <section id="mu-reservation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-reservation-area">
                        <div class="mu-title">
                            <span class="mu-subtitle" style="font-family: Kaushan Script ; ">Make A</span>
                            <h2 style="font-family: Kaushan Script ; font-weight:700;">Reservation</h2>
                        </div>
                        <div class="mu-reservation-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quidem autem iusto, perspiciatis, amet, quaerat blanditiis ducimus eius recusandae nisi aut totam alias consectetur et.</p>
                            <form class="mu-reservation-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Full Name" style="background:#ffffff; height:40px">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email" style="background:#ffffff; height:40px">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone Number" style="background:#ffffff; height:40px">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" style="background:#ffffff; height:40px ; padding: 6px 12px; font: 14px">
                                                <option value="0">How Many?</option>
                                                <option value="1 Person">1 Person</option>
                                                <option value="2 People">2 People</option>
                                                <option value="3 People">3 People</option>
                                                <option value="4 People">4 People</option>
                                                <option value="5 People">5 People</option>
                                                <option value="6 People">6 People</option>
                                                <option value="7 People">7 People</option>
                                                <option value="8 People">8 People</option>
                                                <option value="9 People">9 People</option>
                                                <option value="10 People">10 People</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type='text' class="form-control" placeholder="Date Time" id="date" style="background:#ffffff; height:40px" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone No" style="background:#ffffff ; height:40px" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" cols="30" rows="10" placeholder="Your Message" style="background:#ffffff"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="mu-readmore-btn" style="width:202.988px; height:52.4px; font-family:OpenSans; font-size:">Make Reservation</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>


</html>

