
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/NEWWORLD_Layout.cshtml";
}

<html>
<head>
    <link href="~/Scripts/Bootstrap/css/responsive.css" rel="stylesheet" />
</head>

<body>

    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('../../Assets/Client/images/menu.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">

                    <div class="row row-mt-15em">
                        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>
                            <h1 class="cursive-font">Taste all our menu!</h1>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </header>
    <div class="">
        <div class="caviar-food-menu gtco-section clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <div class="food-menu-title">
                            <h2>Menu</h2>
                        </div>
                    </div>

                    <div class="col-10">
                        <div class="caviar-projects-menu">
                            <div class="text-center portfolio-menu">
                                <button class="" data-filter="*">All</button>
                                <button data-filter=".breakfast" class="">breakfast</button>
                                <button data-filter=".lunch" class="active">lunch</button>
                                <button data-filter=".dinner" class="">dinner</button>
                            </div>
                        </div>

                        <div class="caviar-menu-slides owl-carousel clearfix owl-loaded owl-drag">






                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-3680px, 0px, 0px); transition: all 1.5s ease 0s; width: 6440px;">
                                    <div class="owl-item cloned" style="width: 920px;">
                                        <div class="caviar-portfolio clearfix" style="position: relative; height: 520.695px;">
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-3.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 920px;">
                                        <div class="caviar-portfolio clearfix" style="position: relative; height: 520.695px;">
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-3.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item" style="width: 920px;">
                                        <div class="caviar-portfolio clearfix" style="position: relative; height: 520.695px;">
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-3.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item" style="width: 920px;">
                                        <div class="caviar-portfolio clearfix" style="position: relative; height: 520.695px;">
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-3.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item active" style="width: 920px;">
                                        <div class="caviar-portfolio clearfix" style="position: relative; height: 520.695px;">
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-3.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 920px;">
                                        <div class="caviar-portfolio clearfix" style="position: relative; height: 520.695px;">
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-3.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 920px;">
                                        <div class="caviar-portfolio clearfix" style="position: relative; height: 520.695px;">
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item breakfast dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 0px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-3.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item lunch wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-1.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Gallery Item -->
                                            <div class="single_menu_item dinner wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; position: absolute; left: 0%; top: 260px; display: none;">
                                                <div class="d-sm-flex align-items-center">
                                                    <div class="dish-thumb">
                                                        <img src="img/menu-img/dish-2.png" alt="">
                                                    </div>
                                                    <div class="dish-description">
                                                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                                                    </div>
                                                    <div class="dish-value">
                                                        <h3>$45</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></div><div class="owl-next"><i class="fa fa-arrow-right" aria-hidden="true"></i></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <section class="caviar-dish-menu clearfix" id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-12 menu-heading">
                        <div class="section-heading text-center">
                            <h2>Special</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                            <img src="img/menu-img/dish-1.png" alt="">
                            <div class="dish-info">
                                <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
                                <p class="dish-price">$45</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                            <img src="img/menu-img/dish-2.png" alt="">
                            <div class="dish-info">
                                <h6 class="dish-name">Lorem Ipsum</h6>
                                <p class="dish-price">$45</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                            <img src="img/menu-img/dish-3.png" alt="">
                            <div class="dish-info">
                                <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
                                <p class="dish-price">$45</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- ***** Menu Area End ***** -->
    <!-- ***** Special Menu Area Start ***** -->
    <!-- ***** Special Menu Area End ***** -->


    <div class="gtco-cover gtco-cover-sm" style="background-image: url('../../Assets/Client/images/menu.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container text-center">
            <div class="display-t">
                <div class="display-tc">
                    <h1>&ldquo; Their high quality of service makes me back over and over again!&rdquo;</h1>
                    <p>&mdash; John Doe, CEO of XYZ Co.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="gtco-subscribe">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 class="cursive-font">Subscribe</h2>
                    <p>Be the first to know about the new templates.</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                    <form class="form-inline">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="~/Scripts/Bootstrap/js/Ca_bootstrap.min.js"></script>
        <script src="~/Scripts/Bootstrap/js/active.js"></script>
        <script src="~/Scripts/Bootstrap/js/plugins.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/Bootstrap/js/popper.min.js"></script>
</body>
</html>

